.isClosed {
  height: 0;
  overflow: hidden;
}

.toggleButton {
  width: 100%;
}

.itemContentContainer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.itemContent {
  flex: 1 1 auto;
  margin: 0 1rem 0 0;
}

.itemTitle {
  margin: 0;
}

.form {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}

.titleInput,
.contentInput {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.itemsContainer {
  margin-bottom: 2rem;
}

.container {
  width: 100%;
  max-width: 600px;
}
