h2,
h3,
h4,
h5,
h6,
input,
textarea {
  margin: 0 0 1rem;
}

h1,
section {
  margin: 0 0 2rem;
}

ul {
  margin: 0;
  padding: 0;
}

button,
input[type="submit"] {
  cursor: pointer;
  border: 0;
  padding: 0;
}

li {
  list-style: none;
}

input,
textarea {
  display: block;
}
