h2,
h3,
h4,
h5,
h6,
input,
textarea {
  margin: 1rem 0;
}

h1,
section {
  margin: 2rem 0;
}

ul {
  margin: 0;
  padding: 0;
}

button,
input[type="submit"] {
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 0.5rem 1rem;
}

li {
  list-style: none;
}

input,
textarea {
  display: block;
}

main {
  padding: 0 0.5rem;

  @media screen and (min-width: 768px) {
    padding: 0 1rem;
  }
}
