.iconContainer {
  line-height: 0;
}

.hideOnMobile {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.iconContainer {
  display: block;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.link {
  text-decoration: none;
  padding: 0.3rem 0.5rem;
  margin: 0 0.2rem;
  display: block;
  color: darkcyan;
  cursor: pointer;
  font-size: 1.5rem;
  border-radius: 50%;
  border: 1px solid transparent;
}

.link:hover {
  border: 1px solid darkcyan;
}

.currentStyles {
  color: white;
  background-color: darkcyan;
}
